.pageWrapper {
    display: flex;

    .navContainer {
        a, a:hover {
            text-decoration: none;
        }
        flex: 0;
    }

    .pageContainer {
        flex: 1;
        padding: 16px;
    }
}
